@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
div {
margin:10px;
}
input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}
 
